<mat-sidenav-container class="shell">
  <mat-sidenav mode="side" opened class="shell__sidenav">
    <div class="shell__brand">
      <mat-icon>work_outline</mat-icon>
      <span>Job Tracker</span>
    </div>
    <mat-nav-list>
      @for (link of navLinks; track link.path) {
        <a mat-list-item [routerLink]="link.path" routerLinkActive="active-link">
          <mat-icon matListItemIcon>{{ link.icon }}</mat-icon>
          <span matListItemTitle>{{ link.label }}</span>
        </a>
      }
    </mat-nav-list>
  </mat-sidenav>

  <mat-sidenav-content>
    <mat-toolbar class="shell__toolbar">
      <span class="shell__spacer"></span>
      @if (authService.currentUser(); as user) {
        <span class="shell__user">{{ user.displayName || user.email }}</span>
      }
      <button mat-icon-button [matMenuTriggerFor]="themeMenu" aria-label="Change theme">
        <mat-icon>{{ currentThemeIcon() }}</mat-icon>
      </button>
      <mat-menu #themeMenu="matMenu">
        @for (option of themeOptions; track option.mode) {
          <button mat-menu-item (click)="themeService.setMode(option.mode)">
            <mat-icon>{{ option.icon }}</mat-icon>
            <span>{{ option.label }}</span>
            @if (themeService.mode() === option.mode) {
              <mat-icon class="shell__theme-check">check</mat-icon>
            }
          </button>
        }
      </mat-menu>
      <button mat-icon-button (click)="logout()" aria-label="Log out">
        <mat-icon>logout</mat-icon>
      </button>
    </mat-toolbar>
    <main class="shell__content">
      <router-outlet></router-outlet>
    </main>
  </mat-sidenav-content>
</mat-sidenav-container>
